<div class="admin">
  <header class="admin__header">
    <a href="#" class="logo">
      <h1>UNIsys</h1>
    </a>
    <div class="toolbar">
      <div class="userDetails">   <i class="fas fa-user"></i> <h4>{{userDetails.ime}} {{userDetails.prezime}}</h4></div>
   
      <a class="logout" (click)='logout()'>
        Log Out <i class='fas fa-sign-out-alt'></i>
      </a>
    </div>
  </header>
  <nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" routerLink='/'>Dashboard</a>
      </li>
      <li class="menu__item">
        <a *ngIf="admin" class="menu__link" routerLink='/studenti'>Studenti</a>
      </li>
      <li class="menu__item">
        <a *ngIf="admin" class="menu__link" routerLink='/profesori'>Profesori</a>
      </li>
      <li class="menu__item">
        <a *ngIf="admin" class="menu__link" routerLink='/predmeti'>Predmeti</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink='/rokovi'>Rokovi</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#" routerLink='/ocjene'>Ocjene</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink='/prijavljeni'>Prijavljeni ispiti</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#" routerLink='/obavijesti'>Obavijesti</a>
      </li>
      
    </ul>
  </nav>
  <main class="admin__main">
    <div *ngIf="notifikacije.length == 0" class="notification-box">
      <i class="fas fa-exclamation-circle"></i>
      <h4>Nema novih obavijesti.</h4>
    </div>
    <div *ngFor="let notif of notifikacije" class="notification-box">
      <i class="fas fa-exclamation-circle"></i>
      <h4>OBAVIJEST: Ispit iz predmeta {{notif.predmet}} je za {{notif.dani}} dana.</h4>
    </div>
    <h2>Control panel</h2>
  
    <div class="dashboard">
      <div class="inner-container">
        <div class="random-div1">
          <router-outlet></router-outlet>
        </div>
      
        <div class="random-div">
          <app-aktuelnosti></app-aktuelnosti>
        </div>
      </div>
     
    </div>
  </main>
  <footer class="admin__footer">
    <ul class="ticker">
      <li class="ticker__item">Demo application for a student management system</li>

    </ul>
    <span>
      &copy; 2021 Alem Hodzic.
    </span>
  </footer>
</div>