<div class="student-container">
    <div class="container">
      <div class="card shadow my-5">
        <h4 class="card-header">Prijavljeni rokovi</h4>
      
        <div class="card-body">
          <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
              <tr>
                <th>UID</th>
                <th *ngIf="profesor">Br. indeksa</th>
                <th>Otvoren</th>
                <th>Zatvoren</th>
                <th>Ucionica</th>
                <th>Predmet</th>
                <th>Datum ispita</th>
                <th *ngIf="student">Odjavi ispit</th>
                <th *ngIf="profesor">Edit/Obrisi/Ocijeni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rok of rokovi">
                <td>{{rok.rok_id}}</td>
                <td *ngIf="profesor">{{rok.student_indeks}}</td>
                <td>{{rok.datum_otvaranja}}</td>
                <td>{{rok.datum_zatvaranja}}</td>
                <td>{{rok.br_ucionice}}</td>
                <td>{{rok.predmet}}</td>
                <td>{{rok.datum_ispita}}</td>
                <td>
                  <div class="btn-group btn-group-sm" role="group">
                    
                    <button *ngIf="admin || profesor" (click)="openEdit(rok.rok_id)" type="button" class="btn btn-outline-dark"><i class="fas fa-pen"></i></button>
                    <button *ngIf="admin || profesor" (click)="delete(rok)" type="button" class="btn btn-outline-dark"><i class="fas fa-trash"></i></button>
                    <button  *ngIf="student" (click)="delete(rok)" type="button" class="btn btn-outline-dark"><i class="fas fa-trash"></i></button>
                    <button  *ngIf="admin || profesor" (click)="ocjeni(rok)" type="button" class="btn btn-outline-dark"><i class="fas fa-marker"></i></button>
                  </div>
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  